// Variables genéricas de estilos
$background-color: #F3F5F9;
$background-card: #FFFFFF;
$background-input: #f6f8fc;
$shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
$button-color: linear-gradient(270deg, #0849E0 0%, #2C67F3 100%);
$button-hover-color: #5d88f7;
$text-color: #2C3D7A;